name: EliteShot OS Build

on:
  push:
    branches: [ main ] # Triggers every time you push code to the main branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Necessary to save the image to your GitHub profile
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # Built-in GitHub key

      - name: Build and Push to GHCR
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Note: Everything below is lowercase to avoid the "invalid tag" error
          tags: ghcr.io/clem005/eliteshot_os:latest